#Core
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv

#Auth
passlib
python-jose[cryptography]

# Validation extras
email-validator

#Migrations
alembic

#Testing
pytest
httpx